@model Red_Lake_Hospital_Redesign_Team6.Models.ViewModels.ShowDonation

@{
    ViewBag.Title = "Details";
}

<h2>Donation</h2>

<div>
    <h4>Show donation details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Donation.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Donation.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Donation.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Donation.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Donation.OneTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Donation.OneTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donation.Dedication)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Donation.Dedication)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Donation.DedicateName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Donation.DedicateName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Donation.Action)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Donation.Action)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Donation.Anonymity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Donation.Anonymity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Donation.PaymentMethod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Donation.PaymentMethod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Donation.PaymentNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Donation.PaymentNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Donation.DonorId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Donation.DonorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Donor.Fname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Donor.Fname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Donor.Lname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Donor.Lname)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Donation.DonationId }) |
    @Html.ActionLink("Back to List", "List")
</p>
